body {
	background-color: black;
	font-family: 'Indie Flower', cursive;
}
h1 {
	font-family: 'Indie Flower', cursive;
	color: white;
	font-weight: bolder;
	text-decoration-line: underline;
	text-decoration-color: purple;
}
.container {
	margin: 0 auto;
}
.col-md-6 {
	border: 1px solid white;
	height: 300px;
}
.Rules {
	text-align: center;
	color: white;
}
#psychic-image{
	text-align: center;
}
p {
	font-size: 18px;
}